.inner {
   display: flex;
   flex-direction: column;
   align-items: start;

}

.label {
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 8px;
}

.input {
   font-size: 14px;
   line-height: 20px;
   border: 1px solid rgba(0, 0, 0, 0.16);
   border-radius: 4px;
   padding: 12px;
   width: 100%;

   &.home {
      max-width: 400px;
      background-color: rgba(0, 0, 0, 0.04);
   }

   &.main {
      max-width: 300px;
      background-color: #fff;
   }
}