.inner {
   max-width: 900px;
   min-height: 800px;
   margin: 0 auto;
   padding: 62px 110px 0px;
   background-color: #fff;
   border-radius: 24px;
}

@media (max-width: 767px) {
   .inner {
      padding: 50px 30px;
   }
}

.formWrapper {
   position: relative;

   .form {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 20px;
      padding-top: 24px;

      .advantages {
         display: flex;
         flex-direction: column;

         .advantage {
            display: flex;
            margin-top: 8px;
         }

         .buttonDelete {
            border: none;
            background-color: #fff;
            margin-left: 18px;
         }

         .input {
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            padding: 12px;
            width: 300px;
         }

         .error {
            align-self: center;
            margin-left: 10px;
         }
      }
   }
}

.buttons {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding-top: 64px;
}

.buttonBack {
   font-size: 14px;
   line-height: 20px;
   color: #5558FA;
   padding: 11px 16px;
   border: 2px solid #5558FA;
   border-radius: 4px;
   background-color: #fff;
   align-self: flex-start;

   &.buttonAdd {
      padding: 20px;
      margin-top: 8px;
      margin-bottom: 24px;
      background: url("/plus.svg") center no-repeat;
   }
}

.buttonNext {
   font-size: 14px;
   line-height: 20px;
   color: #FFFFFF;
   padding: 12px 16px;
   background-color: #5558FA;
   border-radius: 4px;
   border: none;
}

.checkboxGroup {
   margin-bottom: 24px;

   label {
      display: flex;
      align-items: center;

      input {
         display: none;
      }

      .checkboxImage {
         display: inline-block;
         width: 16px;
         height: 16px;
         border: 1px solid rgba(0, 0, 0, 0.24);
         border-radius: 4px;
         margin-right: 10px;
         position: relative;

         &:before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: rgba(0, 0, 0, 0.24);
            border-radius: 2px;
            visibility: hidden;
            position: absolute;
            top: 3px;
            left: 3px;
         }
      }

      input:checked+.checkboxImage:before {
         visibility: visible;
      }
   }
}

.radioGroup {
   display: flex;
   flex-direction: column;

   label {
      display: flex;
      align-items: center;

      input {
         display: none;
      }

      .radioImage {
         display: inline-block;
         width: 16px;
         height: 16px;
         border: 1px solid rgba(0, 0, 0, 0.24);
         border-radius: 50%;
         margin-right: 10px;
         position: relative;
      }

      input:checked+.radioImage:before {
         content: "";
         display: inline-block;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         background-color: rgba(0, 0, 0, 0.24);
         position: absolute;
         top: 3px;
         left: 3px;
      }
   }
}