#root {
  padding: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'SB Sans Interface';
  font-weight: normal;
  background-color: #F4F4F5;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}